<div>
  <ul class="nav nav-tabs nav-justified">
  	<li class="nav-item" role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item" role="presentation"
        routerLinkActive="active">
      <a class="nav-link" [routerLink]="['register']">Register</a>
    </li>
    <li class="nav-item" role="presentation"
        routerLinkActive="active">
      <a class="nav-link" [routerLink]="['admin']">Admin</a>
    </li>
    <li class="nav-item" role="presentation"
        routerLinkActive="active">
      <a class="nav-link" routerLink="exam">Exam</a>
    </li>
    <li class="nav-item" role="presentation"
        routerLinkActive="active">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </li>
    <ul class="nav navbar-nav navbar-right ml-auto">
    <li role="presentation"  routerLinkActive="active">
          <a class="nav-link" routerLink="login">Login</a>
    </li>

	</ul>
    <li class="dropdown" appDropdown>
      <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;">Save Data</a></li>
        <li><a style="cursor: pointer;">Fetch Data</a></li>
      </ul>
    </li>
  </ul>
  <!-- <ul class="nav navbar-nav navbar-right ml-auto">
  	
  </ul> -->
</div>