<div>
  <ul class="nav nav-tabs nav-justified">
  	<li class="nav-item" role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item" role="presentation"
        routerLinkActive="active">
      <a class="nav-link" [routerLink]="['register']">Register</a>
    </li>
    <li class="nav-item" role="presentation"
        routerLinkActive="active">
      <a class="nav-link" [routerLink]="['admin']">Admin</a>
    </li>
    <li class="nav-item" role="presentation"
        routerLinkActive="active">
      <a class="nav-link" routerLink="exam">Exam</a>
    </li>
    <ul class="nav navbar-nav navbar-right ml-auto">
    <li role="presentation"  routerLinkActive="active">
          <a class="nav-link" routerLink="login">Login</a>
    </li>
	</ul>
    <!-- <li class="dropdown" appDropdown>
      <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;">Save Data</a></li>
        <li><a style="cursor: pointer;">Fetch Data</a></li>
      </ul>
    </li> -->
  </ul>
  <!-- <ul class="nav navbar-nav navbar-right ml-auto">
  	
  </ul> -->
</div>