<div class="row justify-content-center">
<div class="col-md-6">
<div class="card">
<!-- <header class="card-header">
	<a href="" class="float-right btn btn-outline-primary mt-1">Log in</a>
	<h4 class="card-title mt-2">Sign up</h4>
</header> -->
<article class="card-body">
<form (submit)="register()" *ngIf="!registerSuccess">
	<div class="form-row">
		<div class="col form-group">
			<label>First name </label>   
		  	<input type="text" class="form-control" placeholder=""
		  	[(ngModel)]="registerModel.firstName"
		  	name="firstName">
		</div>
		<div class="col form-group">
			<label>Last name</label>
		  	<input type="text" class="form-control" placeholder=""
		  	[(ngModel)]="registerModel.lastName"
		  	name="lastName">
		</div>
	</div>
	<div class="form-group">
		<label>Father Name</label>
		<input type="text" class="form-control" placeholder=""
		[(ngModel)]="registerModel.fatherName"
		name="fatherName">
	</div>
	<div class="form-group">
		<label>Gender</label>
	</div>
	<div class="form-group">
		<label class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="gender" 
		  [(ngModel)]="registerModel.gender" value="male">
		  <span class="form-check-label">Male</span>
		</label>
		<label class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="gender" 
		  [(ngModel)]="registerModel.gender" value="female">
		  <span class="form-check-label">Female</span>
		</label>
	</div>
	<div class="form-group">
	 <label >DOB</label>
	 <input type="date" name="bday" max="2010-12-31" 
	        min="1970-01-01" class="form-control"
	        [(ngModel)]="registerModel.dob"
			name="dob">
	</div>
	<!-- <div class="form-group">
	 <label >Einde voorverkoop periode</label>
	 <input type="date" name="bday" min="1000-01-01"
	        max="3000-12-31" class="form-control">
	</div> -->
	
	<div class="form-group">
		<label>Email address</label>
		<input type="email" class="form-control" placeholder=""
		[(ngModel)]="registerModel.email"
		name="email">
		<small class="form-text text-muted">We'll never share your email with anyone else.</small>
	</div>
	<div class="form-group">
		<label>Residential address</label>
		<input type="text" class="form-control" placeholder=""
		[(ngModel)]="registerModel.residentialAddress"
		name="residentialAddress">
		
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
		  <label>State</label>
		  <input type="text" class="form-control"
		  [(ngModel)]="registerModel.residentialState"
		  name="residentialState">
		</div>
		<div class="form-group col-md-6">
		  <label>Pincode</label>
		  <input type="text" class="form-control"
		  [(ngModel)]="registerModel.residentialPincode"
		  name="residentialPincode">
		  <!-- <select id="inputState" class="form-control">
		    <option> Choose...</option>
		      <option>Uzbekistan</option>
		      <option>Russia</option>
		      <option selected="">United States</option>
		      <option>India</option>
		      <option>Afganistan</option>
		  </select> -->
		</div>
	</div>
	<div class="form-check">
    	<input type="checkbox" class="form-check-input" id="sameAsPermanent" (click)="copyResidentialAddress($event)">
    	<label class="form-check-label" for="sameAsPermanent">Same As Residential Address</label>
    </div>
	
	<div class="form-group">
		<label>Permanent address</label>
		<input type="text" class="form-control" placeholder=""
		[(ngModel)]="registerModel.permanentAddress"
		name="permanentAddress" [readonly]="markReadonly">
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
		  <label>State</label>
		  <input type="text" class="form-control"
		  [(ngModel)]="registerModel.permanentState"
		  name="permanentState" [readonly]="markReadonly">
		</div>
		<div class="form-group col-md-6">
		  <label>Pincode</label>
		  <input type="text" class="form-control"
		  [(ngModel)]="registerModel.permanentPincode"
		  name="permanentPincode" [readonly]="markReadonly">
		  
		</div>
	</div>
	
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Register</button>
    </div>  
    <!-- <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>  -->                                         
</form>

<form id="register-form" (ngSubmit)="signup()" *ngIf="registerSuccess">
                    <div class="form-group">
                        <input type="text" name="username" id="username" tabindex="1" 
                        required
                        class="form-control" placeholder="Username" 
                        [(ngModel)]="signupUser.username" readonly="true">
                    </div>
                    <!-- <div [hidden]="registerModel.username.valid"
                         class="alert alert-danger">
                      Username is required
                    </div> -->
                    <div class="form-group">
                        <input type="password" name="password" id="password" tabindex="3" class="form-control" placeholder="Password" 
                        required
                        [(ngModel)]="signupUser.password"
                        >
                    </div>
                    <div class="form-group">
                        <input type="password" name="confirm-password" 
                        id="confirm-password" tabindex="4" class="form-control" placeholder="Confirm Password" 
                        [(ngModel)]="registerModel.confirm_password" required>
                    </div>
                    <div *ngIf="signupUser.password != registerModel.confirm_password"
                         class="alert alert-danger">
                      Confirm Password should be same as Password
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                
                                <input type="submit" name="register-submit" id="register-submit" tabindex="5" class="form-control btn btn-primary" value="Online Signup">
                            </div>
                        </div>
                    </div>
                </form>
</article>
<div class="border-top card-body text-center">
	Have an account? <a class="text-primary text_hover" (click)="gotoLogin()">Log In</a></div>
</div>
</div>

</div>

