<div id="exam">
	<div *ngFor="let question of questions | paginate: { itemsPerPage: 1, currentPage: p }; let i = index ">
		<div class="">Question {{p}} of {{questions.length}}</div>
		<div class="row">
			<div class="col-md-12">
				<h5>{{p}}. <span>{{question.name}}</span></h5>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 text-left options" *ngFor="let option of question.options">
				<div class="option">
					<label class="" for="{{option.id}}"></label>
					<input type="checkbox" name="{{option.id}}" 
					[(ngModel)]="option.selected"
					(change)="onSelect(question, option)" />
					{{option.name}}
				</div>
			</div>
		</div>
	</div>
	<pagination-controls (pageChange)="p = $event"></pagination-controls>
	
</div>
